# List assignments 1

In [15]:
#Question:1
#1. Let us say your expense for every month are listed below,
#1. January -  2200
#2. February - 2350
#3. March - 2600
#4. April - 2130
#5. May - 2190

Month=["jan","Feb","March","April","May"]
exp = [2200,2350,2600,2130,2190]

In [11]:
#In Feb, how many dollars you spent extra compare to January?
Spend=exp[1]-exp[0]
print("how many dollars you spent extra compare to January=",Spend)

how many dollars you spent extra compare to January= 150

In [86]:
#Find out your total expense in first quarter (first three months) of the year.
Spend=exp[0]+exp[1]+exp[2]
print("total expense in first quarter=",Spend)

total expense in first quarter= 7150

In [87]:
#Find out if you spent exactly 2000 dollars in any month
2000 in exp

False

In [17]:
#June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
Month=["jan","Feb","March","April","May"]
exp = [2200,2350,2600,2130,2190]
exp.append(1980)
print("Added this item to our monthly expense lis=",exp)

Added this item to our monthly expense lis= [2200, 2350, 2600, 2130, 2190, 1980]

In [16]:
#You returned an item that you bought in a month of April and got a refund of 200$.
#Make a correction to your monthly expense list based on this
Month=["jan","Feb","March","April","May"]
exp = [2200,2350,2600,2130,2190]
exp[3]=exp[3]-200
print("correction to your monthly expense list=",exp)

correction to your monthly expense list= [2200, 2350, 2600, 1930, 2190]

In [18]:
#Question:2
#You have a list of your favourite marvel super heros.
#heros=['spider man','thor','hulk','iron man','captain america']

#Length of the list
heros=['spider man','thor','hulk','iron man','captain america']
print(len(heros))

5

In [30]:
#Add 'black panther' at the end of this list
heros=['spider man','thor','hulk','iron man','captain america']
heros.append("black panther")
print("Added 'black panther in the list=",heros)

Added 'black panther in the list= ['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [34]:
#You realize that you need to add 'black panther' after 'hulk',so remove it from the list first and then add it after 'hulk'
heros=['spider man', 'thor', 'hulk', 'iron man', 'captain america']
heros.insert(3,"black panther")
print(heros)

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [54]:
#4. Now you don't like thor and hulk because they get angry easily :)
#So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
#Do that with one line of code.
heros=['spider man', 'thor', 'hulk', 'iron man', 'captain america']
heros[1:3]=["doctor strange"]
print(heros)

['spider man', 'doctor strange', 'iron man', 'captain america']

In [55]:
#5 Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)
heros=['spider man', 'thor', 'hulk', 'iron man', 'captain america']
heros.sort()
print(heros)

['captain america', 'hulk', 'iron man', 'spider man', 'thor']

In [72]:
# add 'black panther' after 'hulk', then remove it from the list first and then add it after 'spider man'
heros=['spider man','thor','hulk','iron man','captain america']
heros[3]="black panther"
print(heros)
heros.remove("black panther")
print(heros)
heros[1]="black panther"
print(heros)

['spider man', 'thor', 'hulk', 'black panther', 'captain america']
['spider man', 'thor', 'hulk', 'captain america']
['spider man', 'black panther', 'hulk', 'captain america']